<!DOCTYPE html>
<html lang="en">
<head>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pengelolaan</title>
</head>
<body>
    <div class="container-fluid mt-lg-5  mb-5"
    style="background-color: #CBE3FF; width: 100%; text-align: center; padding-top: 10px; padding-bottom: 10px;">
        <h1>DATA BUKU</h1>
    </div>
    <div class="form-group input-group" style="margin-left: 82%; ">
        <a
            href=""
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addProduct">Tambah Buku</a>
    </div>

    <div class="container" id="NewProduct">
        <div class="row justify-content-center">
            <div class="modal fade justify-content-center" id="addProduct" role="dialog">
                <div class="modal-dialog bg-modal">
                    <div class="modal-content">
                        <h5 id="tittle">Tambah Buku</h5>
                        <form
                            class="row"
                            action=""
                            method="POST"
                            enctype="multipart/form-data">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <img
                                    id="addImage"
                                    src=""
                                    class="roundedcircle d-block"/>
                            </div>
                            <div class="col-md-7" id="masukan">
                                <div class="topic-title">Nama Produk</div>
                                <input type="text" name="product_name" class="form-control">
                                <div class="topic-title">Harga</div>
                                <input type="text" class="form-control" name="harga"><br>
                                <input type="file" name="uploadImage" class="form-control"/>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" value="upload">Tambah Produk</button>
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Judul Buku</th>
                <th scope="col">Kode Buku</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Stock</th>
                <th scope="col">Opsi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Kamu Terlalu Banyak Bercanda</td>
                <td>B01</td>
                <td>GRAMEDIA</td>
                <td>5</td>
                <td>
                    <button
                        type="button"
                        class="btn btn-warning mr-2"
                        data-toggle="modal"
                        data-target="">
                        Edit
                    </button>
                    <a
                        type="button"
                        class="btn btn-danger"
                        href=""
                        onclick="return confirm('Apakah Anda Yakin untuk Menghapusnya?')">Delete</a>
    
                </td>
              </tr>
              
              
            </tbody>
          </table>
    </div>
    
    
</body>
</html>