<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/inputdendabuku.css" rel="stylesheet" />
    <title>Input Denda Buku</title>
</head>
<body>
    <h1 class="satu">Input Denda Buku</h1>
    <h1 class="dua">O-LIB</h1>
    <form>
        <p>
            <label>ID PEMINJAMAN</label>
            <input type="text"class="id"/>
        </p>
        <p>
            <label>NAMA MAHASISWA</label>
            <input type="text" class="nama"/>
        </p>
        <p>
            <label>JUDUL BUKU</label>
            <input type="text" class="judul"/>
        </p>
        <p>
            <label>TANGGAL</label>
            <input type="date" class="tanggal"/>
        </p>
        <button>SUBMIT</button>
    </form>
</body>
</html>