<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/inputruang.css">
    <title>Input Peminjaman Ruangan</title>
</head>
<body>
    <div class="div-img">
        <form style="float:right;">
            <h2 style="padding-bottom: 20px;">Input Peminjaman Ruangan</h2>
            <p>
                <input type="text"class="id" placeholder="Masukkan Kode Ruangan"/>
            </p>
            <p>
                <input type="date" class="tanggal"/>
            </p>
            <p>
                <input type="time" class="time"/>
            </p>
            <button>OK</button>
        </form>
        <h1>Kode Ruangan : R01</h1>
        <img class="card-img-top" src="../../asset/ruangan1.jpg" alt="Card image cap" width="650" height="358" style="border-radius: 5px;">
    </div>
</body>
</html>