<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/pengembalianbuku.css" rel="stylesheet" />
    <title>Pengembalian Buku</title>
</head>
<body>
    <div class="border">
        <h1>Input Pengembalian Buku</h1>
        <div class="kerangka">
            <textarea placeholder="KODE PEMINJAMAN"></textarea><br>
            <button>OK</button>
        </div>
    </div>
</body>
</html>